body {
background: url() no-repeat center center fixed;
background-repeat: no-repeat;
color: red;
font-family: Georgia;
	 -webkit-background-size: auto;
 -moz-background-size: auto;
 -o-background-size: auto;
 background-size: auto; 
 background-size: 100%;
