body {
background: url(Background.jpg) repeat;
color: red;
font-family: Georgia;
}

.Bar {
 background: url(Logo.png); 
  	background-size:cover, auto;
	background-repeat:no-repeat;
	height:auto;
	width:auto;
  
}
