body {
background: url(Money.gif) no-repeat center center fixed;
background-repeat: no-repeat;
color: red;
font-family: Georgia;
	 -webkit-background-size: auto;
 -moz-background-size: auto;
 -o-background-size: auto;
 background-size: auto; 
 background-size: 100%;
}

img { 
  	img-width:100%;
	img-height:30px;
  
}

.Hous {
Color: White;
font-size: 20;
height: 10%;
width: 10%;
Bottom:5%;
background: url(Buyhous.png) no-repeat center center fixed;


}
